<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Movies</title>
</head>
<body class="timebymovie">
    <h2 class="moviebyhourtitle">Movies By Drive-In Name</h2>

    <div class="hourSegment">
    <% for (let time=7; time<=10; time++) { %>
        <div>
        <h3><%= time %>:00 Hour</h3>
        
        <ul class="collection with-header">
        <% for (let i=0; i<driveins.length; i++) { %>
            <% let driveInFlag = false %>

            <% for (let k=0; k<driveins[i].movies.length; k++) { %>

                <!-- Loop over the movie times to find if there is a showtime during the hour -->
                <% for (let l=0; l<driveins[i].showtimes[k].movieshowtimes.length; l++) { %>   
                    <% if (driveins[i].showtimes[k].movieshowtimes[l].includes(`${time}:`)) { %>
                        <% if (!driveInFlag) { %>
                            <li class="collection-header">
                                <a href="/driveins/<%=driveins[i]._id%>">
                                    <h4 class="movieTitle"><%= driveins[i].name %></h4>
                                </a>
                            </li>

                            <% driveInFlag = true %>
                        <% } %>
                    <% } %>
                <% } %>

            <% } %>

            <ul>
            <% let movieFlag = false %>
            <% for (let k=0; k<driveins[i].movies.length; k++) { %>
                <!-- Loop over the movie times to find if there is a showtime during the hour -->
                <% for (let l=0; l<driveins[i].showtimes[k].movieshowtimes.length; l++) { %>   
                    <% if (driveins[i].showtimes[k].movieshowtimes[l].includes(`${time}:`)) { %>
                        <% if (!movieFlag) { %>
                            <h5>Movies:</h5>
                            <% movieFlag = true %>
                        <% } %>
                        
                        <% for (let m=0; m<movies.length; m++) { %>
                            <% if (String(driveins[i].movies[k]) == String(movies[m]._id)) { %>
                                <li>
                                    <a href="/movies/<%=driveins[i].movies[k]%>">
                                        <h6><%= movies[m].title %></h6>
                                    </a>
                                </li>
                            <% } %>
                        <% } %>
                        
                    <% } %>
                <% } %>
            <% } %>
            </ul>

            <!-- If there was a list of drive-in movies, add a space -->
            <% if (movieFlag) { %>
                <br>
            <% } %>

        <% } %>
        </ul>
        </div>
    <% } %>
    </div>

</body>
</html>