<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Movies</title>
</head>
<body class="timebymovie">
    <h2 class="moviebyhourtitle">Movies By Movie Title</h2>

    <div class="hourSegment">
    <% for (let time=7; time<=10; time++) { %>
        <div>
        <h3><%= time %>:00 Hour</h3>

        <ul class="collection with-header">
        <% for (let i=0; i<movies.length; i++) { %>

                <% let movieFlag = false %>
                <% for (let j=0; j<driveins.length; j++) { %>
                    <% for (let k=0; k<driveins[j].movies.length; k++) { %>
                        <% if (String(movies[i]._id) == String(driveins[j].movies[k]._id)) { %>

                            <!-- Loop over the movie times to find if there is a showtime during the hour -->
                            <% for (let l=0; l<driveins[j].showtimes[k].movieshowtimes.length; l++) { %>   
                                <% if (driveins[j].showtimes[k].movieshowtimes[l].includes(`${time}:`)) { %>
                                    <% if (!movieFlag) { %>
                                        <li class="collection-header">
                                            <a href="/movies/<%=movies[i]._id%>">
                                                <h4 class="movieTitle"><%= movies[i].title %></h4>
                                            </a>
                                        </li>
                                        <% movieFlag = true %>
                                    <% } %>
                                <% } %>
                            <% } %>
                            
                        <% } %>
                    <% } %>
                <% } %>

                <ul>
                <% let driveInFlag = false %>
                <% for (let j=0; j<driveins.length; j++) { %>
                    <% for (let k=0; k<driveins[j].movies.length; k++) { %>
                        <% if (String(movies[i]._id) == String(driveins[j].movies[k]._id)) { %>

                            <!-- Loop over the movie times to find if there is a showtime during the hour -->
                            <% for (let l=0; l<driveins[j].showtimes[k].movieshowtimes.length; l++) { %>   
                                <% if (driveins[j].showtimes[k].movieshowtimes[l].includes(`${time}:`)) { %>
                                    <% if (!driveInFlag) { %>
                                        <h5>Drive-Ins:</h5>
                                        <% driveInFlag = true %>
                                    <% } %>
                                    <li >
                                        <a href="/driveins/<%=driveins[j]._id%>">
                                            <h6><%= driveins[j].name %></h6>
                                        </a>
                                    </li>
                                <% } %>
                            <% } %>

                        <% } %>
                    <% } %>
                <% } %>
                </ul>

                <!-- If there was a list of drive-in movies, add a space -->
                <% if (driveInFlag) { %>
                    <br>
                <% } %>
        <% } %>
        </ul>
        <br>
        </div>
        <br>
    <% } %>
    </div>

</body>
</html>