<h1>Add New Drive-In</h1>
<form action="/driveins" method="POST">
  <div class="form-group">
    <label class="name-label" for="name"><h6>Name:</h6></label>
    <input type="text" class="form-control" id="name" name="name" />
  </div>

  <div class="form-group">
    <label class="name-label" for="address"><h6>Address:</h6></label>
    <input type="text" class="form-control" id="address" name="address" />
  </div>

  <% movies.forEach((movie, index) => { %>
    <label for="<%= movie.title %>">
      <input class="movie-label" type="checkbox" name="movies" id="<%= movie.title %>" value="<%= movie.id %>"/>
      <span><h6><%= movie.title %></h6></span>
    </label>

    <br><br>

    <label class="time-label" for="time7<%= movie.id %>">
      <input type="checkbox" name="<%= movie.id %>" id="time7<%= movie.id %>" value="7:00"/>
      <span>7:00</span>
    </label>

    <label class="time-label" for="time8<%= movie.id %>">
      <input type="checkbox" name="<%= movie.id %>" id="time8<%= movie.id %>" value="8:00"/>
      <span>8:00</span>
    </label>

    <label class="time-label" for="time9<%= movie.id %>">
      <input type="checkbox" name="<%= movie.id %>" id="time9<%= movie.id %>" value="9:00"/>
      <span>9:00</span>
    </label>

    <br><br><br><br>

  <% })%>

  <button type="submit" class="btn btn-primary">Submit</button>
</form>
