<body class="showDrivein">
<h1 id="driveinName"><%= drivein.name %></h1>
<% if (drivein.address != null) { %>
  <h5 class="address"><%= drivein.address %></h5>
<% } %>

<% if (drivein.address != null) {%>
  <iframe
    width="450"
    height="250"
    frameborder="0" style="border:0"
    src="https://www.google.com/maps/embed/v1/search?key=AIzaSyCLbDPkMfZuxUVZ3L3-_fxsE6t3g86CaO8&q=<%= drivein.address %>" allowfullscreen>
  </iframe>
<% } %>

<div class="moviesControlPanel">
<div class="moviesBoard">
<h2>Movies</h2>

<ul>
    <% for (let i=0; i<drivein.movies.length; i++) { %>
  <li>
    <a href="/movies/<%= drivein.movies[i].id %>"><h4><%= drivein.movies[i].title %></h4></a>

    <h5 class="showtimes">Showtimes:</h5>
    <ul class="collection">
    <% if (drivein.showtimes[i] != null) {%>
      <% for (let j=0; j<drivein.showtimes[i].movieshowtimes.length; j++) { %>
        <li class="collection-item"><div class="showtime"><h6 class="timeEntry"><%= drivein.showtimes[i].movieshowtimes[j] %></h6></div></li>
      <% } %>
    <% } %>
    </ul>

    <% if (currentUser) { %>
      <form action="/driveins/<%= drivein.id %>/movies/<%= drivein.movies[i].id %>?_method=DELETE" method="POST">
        <button type="submit" class="btn btn-danger btn-sm">Delete</button>
      </form>
    <% } %>
    
  </li>
  <% } %>
</ul>
</div>
<br>

<div class="addOrUpdateBoard">
<% if (currentUser) { %>
  <h2 class="title-header">Add or Update Movies</h2>
  <form action="/driveins/<%= drivein.id %>/edit?_method=PUT" method="POST">
  
    <% movies.forEach((movie, index) => { %>     
      <label for="<%= movie.title %>">
        <input class="movie-label" type="checkbox" name="movies" id="<%= movie.title %>" value="<%= movie.id %>"/>
        <span><h6><%= movie.title %></h6></span>
      </label>

      <br><br>

      <label class="time-label" for="time7<%= movie.id %>">
        <input type="checkbox" name="<%= movie.id %>" id="time7<%= movie.id %>" value="7:00"/>
        <span>7:00</span>
      </label>

      <label class="time-label" for="time8<%= movie.id %>">
        <input type="checkbox" name="<%= movie.id %>" id="time8<%= movie.id %>" value="8:00"/>
        <span>8:00</span>
      </label>

      <label class="time-label" for="time9<%= movie.id %>">
        <input type="checkbox" name="<%= movie.id %>" id="time9<%= movie.id %>" value="9:00"/>
        <span>9:00</span>
      </label>

      <label class="time-label" for="time10<%= movie.id %>">
        <input type="checkbox" name="<%= movie.id %>" id="time10<%= movie.id %>" value="10:00"/>
        <span>10:00</span>
      </label>

      <br><br><br><br>
    <% })%>

    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
<% } %>

</div>
</div>
<br>
</body>